<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/variabile" method="get">
        <p><label for="var-1"></label><input type="text" id="var-1" name="var-1"></p>
        <p><label for="var-2"></label><input type="text" id="var-2" name="var-2"></p>
        <p><label for="var-3"></label><input type="text" id="var-3" name="var-3"></p>
        <p><label for="var-4"></label><input type="text" id="var-4" name="var-4"></p>
        <p><label for="var-5"></label><input type="text" id="var-5" name="var-5"></p>
        <p><button type="submit">OK</button></p>
    </form>
</body>
</html>