<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% for id in ids %}
        <section id="{{ id }}">
            <h1>Asta este {{id }}</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit
                laborum nemo, nihil molestias inventore incidunt expedita? Velit
                tenetur ipsam saepe fuga, maxime provident ea? Iure iusto
                doloribus voluptates sunt nisi.
            </p>
            <p>
                Neque cum natus dolorum voluptatibus ipsam! Veniam aliquid, ut
                ducimus aspernatur alias provident architecto neque sequi facere
                nobis, mollitia suscipit adipisci praesentium cumque odio
                molestiae, delectus amet. Sint, maxime rem?
            </p>
            <p>
                Est sed debitis laborum inventore rerum omnis vero sit? Fugit
                quam expedita quibusdam assumenda voluptatibus temporibus illum,
                veniam laudantium esse cum delectus corrupti atque optio ipsam
                nemo quos, voluptatem totam.
            </p>
            <p>
                Quibusdam accusantium voluptate illo ipsam est dolores
                recusandae dignissimos? Laborum recusandae quidem quis
                asperiores. Libero odit quibusdam, nam magnam ab temporibus
                optio repudiandae quos dignissimos laudantium! Provident ab ad
                assumenda.
            </p>
            <p>
                Ad, quibusdam voluptate? Natus, cum. Non sint expedita,
                repellendus quidem asperiores ipsam perferendis fugiat nam id
                quibusdam. Sequi itaque possimus beatae consequatur consequuntur
                quos, id sapiente accusamus vero sunt quasi!
            </p>
            <p>
                Quisquam eligendi nostrum vero eos vel, sequi tempore error cum
                incidunt minus? Provident officia perferendis doloribus eaque
                reprehenderit possimus iste libero harum ipsam, deleniti quasi
                ullam excepturi temporibus illum vero?
            </p>
            <p>
                Iure, ex fuga ratione maiores possimus qui, nobis quibusdam illo
                eaque quos ea. Id atque voluptas, numquam consectetur non enim
                explicabo, fugit, repellat earum laudantium soluta ducimus odio
                necessitatibus. Vero.
            </p>
            <p>
                Suscipit natus labore placeat velit eos, aut rerum impedit
                porro, cum modi ab, a obcaecati minus. Vel, officiis tenetur
                nobis officia veniam voluptas? Dicta ullam incidunt odio
                repudiandae possimus temporibus!
            </p>
            <p>
                Similique a atque magni mollitia, iste corrupti architecto error
                eveniet quos tempora beatae fugit dolor rem commodi molestias
                libero accusantium doloribus, sed in quasi fuga iure quibusdam?
                Eum, enim. Nam.
            </p>
            <p>
                Consectetur non harum aliquam ipsa assumenda aspernatur
                officiis, voluptate fugit dolor debitis, temporibus commodi
                veniam adipisci, fuga eum voluptas laudantium dolore est minus
                laboriosam cupiditate dolores quos delectus. Aliquam,
                aspernatur.
            </p>
            <p>
                Velit magni, sapiente sint fuga quia deserunt laudantium esse
                corrupti quod ad reprehenderit dolores quaerat iusto similique
                iste nesciunt, autem atque dolore rerum eos blanditiis,
                doloribus possimus dolorum temporibus. Alias.
            </p>
            <p>
                Dolor soluta earum in debitis ex consequuntur commodi illum
                sapiente obcaecati quas officia, expedita voluptatibus quam
                velit dicta numquam? Voluptates odio blanditiis quisquam neque
                minima quaerat velit perspiciatis non cupiditate.
            </p>
            <p>
                Earum velit inventore dicta. Quo voluptatibus placeat maiores
                natus consectetur porro ipsum voluptatum quos cumque
                necessitatibus velit nostrum, nisi, amet atque iure saepe
                ratione, veniam sapiente dolorum alias a molestiae!
            </p>
            <p>
                Asperiores facilis debitis aspernatur assumenda laudantium modi
                illum placeat minus eveniet perferendis id, distinctio neque
                repellendus maiores ipsam similique voluptas quia eius amet!
                Minima eveniet nisi quibusdam tempore totam sunt.
            </p>
            <p>
                Debitis, eaque. Corrupti voluptas necessitatibus aperiam
                asperiores rerum magni commodi dolores odit ipsam consequuntur,
                aut omnis iste error alias sed! Natus soluta ratione ipsam illum
                mollitia corrupti fuga, hic ea.
            </p>
            <p><a href="{{ url_for('vote', id=id) }}">Vote {{ id }}</a></p>
            <hr />
        </section>
        {% endfor %}
    </body>
</html>
